
html {
    background: url("../images/nick-background.png") no-repeat center center fixed;
    background-size: cover
}

body {
    font-size: 1.6em;
    color: rgb(255,125,1);
}

p {
    font-family: 'Baloo Chettan', cursive;
    padding: 0.5em 0em;
}

img {
    height: 100%;
    border-radius: 10px;
}

/* * * * Header Styles * * * */
.header-container {
    max-width: 960px;
    margin: auto;
    margin-top: 1em;
    display: grid;
}

.header-grid {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 1em;
}

.header-grid img {
    width: 80%;
    margin: auto;
    padding: 0.5em;
    background: rgb(0, 0, 0);
    box-shadow: 0px 5px 15px -2px white;
}

/* Introduction Page Styles */
#intro-container {
    margin: auto;
    max-width: 960px;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 0em 0.5em;
}

#intro-page {
    width: 70%;
    margin: auto;
    /* display: none; */
}

#intro-grid {
    background: rgb(255, 125, 1);
    color: white;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,.75);
}
#start-grid {
    background: rgb(0, 199, 17);
    color: white;
    width: 40%;
    margin: auto;
    margin-top: 1.5em;
    text-align: center;
    padding: 0.25em;
    border-radius: 10px;
    box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,.75);
}

/* * * * Game Page Styles * * * */
#game-container {
    margin: auto;
    margin-bottom: 1em;
    padding: 0em 0.5em;
    max-width: 960px;
    display: none;
}

#game-container img {
    width: 100%;
}

/* Sets font size for score and letters-guessed */
#winCounter,
#lossCounter, 
#numGuesses, 
#wrongGuesses {
    font-family:  'Roboto', sans-serif;
}

/* Sets Game Page to grid */
#game-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
}

/* Position the game's picture canvas */
#picture-grid {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background: rgb(255, 125, 1);
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,.75);
}

#picture-grid img {
    max-height: 450px;
}

/* Positions "_" and right guesses under canvas */
#underscore-grid {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}

h2 {
    font-family: 'Baloo Chettan', cursive;
    font-size: 2em;
    color: rgb(0, 199, 17);
    padding-top: 0;
}

#current-word {
    padding: 0.5em;
    color: rgb(0, 199, 17);
}

#wordToGuess {
    white-space: pre;
}

/* Positions buttons under underscores */
#button-grid {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    display: none;
}

/* Position scores-grid next to canvas. */
#score-grid {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background: rgb(255,125,1);
    box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,.75);
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    display: grid;
    align-items: center;
}

#score-grid p {
    color: white;
}

/* Position guess-bank under the score-grid */
#guess-bank-grid {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background: rgb(255,125,1);
    box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,.75);
    border-radius: 10px;
    padding: 0.75em;
    text-align: center;
}

#guess-bank {
    color: white;
    font-family: 'Baloo Chettan', cursive;

}

/* Positions right-guesses and toggles display */

#wrong-guesses {
    width: 100%;
    letter-spacing: 0.25em;
}

/******** Footer ********/
footer{
    background: rgb(255,125,1);
    box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,.75);
}

#footer-info {
    margin: auto;
    display: flex;
    justify-content: center;
}

#footer-info > ul {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.65em;
}

#footer-info > ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#footer-info > ul li a {
    display: block;
    text-align: center;
    padding: 1em 2em;
}

.footerLinks a {
    color: white;
}

.footerLinks a:hover {
    color: rgb(0, 255, 21);
}

/******* Keeps Footer at Bottom of Screen*******/
.sticky-footer{
    flex: 1 0 auto;
 }
 
 html, body {
     height: 100%;
 }
 
 body {
     display: flex;
     flex-direction: column;
     height: 100vh;
 }
 